@import url(./reset.css);

@media screen {}

body {
    background-color: #060911;
    color: white;
}



/* --------------------------------------
-----------------header------------------
-----------------------------------------*/

header {
    background-color: #060911;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
}

.navbar {
    display: flex;
    background-color: #060911;
    width: 100%;
    color: white;
    gap: 48px;
    padding: 24px 0px;

}

.navbar-logo_links {
    display: flex;
    gap: 48px;
}

.navbar-logo img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navbar-menu {
    display: none;
}
.navbar-menu svg{
    width: 40px;
    aspect-ratio: 1/1;
}

.navbar-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 8px;

}

.navbar-input_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
}

.navbar-input {
    border-radius: 10px;
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    -ms-border-radius: 99px;
    -o-border-radius: 99px;
    padding: 12px 24px;
    /* Limiter la largeur de l'input */
    max-width: 400px;
    /* Prender tout l'espace (responsive à l'écran actuel) */
    width: 100%;

}

.button {
    font-size: 16px;
    background-color: #95FC11;
    color: #060911;
    border-radius: 99px;
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    -ms-border-radius: 99px;
    -o-border-radius: 99px;
    padding: 16px 32px;
    /* Le texte ne saute pas de ligne */
    text-wrap: nowrap;

}

.navbar-profile img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 99px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 99px;
    -ms-border-radius: 99px;
    -o-border-radius: 99px;
}

/* --------------------------------------
-----------------main--------------------
-----------------------------------------*/

main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
    background-color: #060911;
    display: flex;
    flex-direction: column;

}

.hero {
    display: flex;
    position: relative;
}

.hero img {
    border: solid black;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    width: 100%;
    aspect-ratio: 2 / 1;
}

.hero-text_button {
    max-width: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 5%;
    bottom: 10%;
    gap: 40px;
    align-items: flex-start;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* ---------------------------------------
-----------------Trending-----------------
-----------------------------------------*/

.trending {
    padding-top: 93px;
    color: white;
}

.trending-list {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    padding-top: 24px;
}

.trending-list-card {
    border-radius: 16px;
    padding: 8px;
    font-size: 24px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    max-width: 300px;
    position: relative;
}

.trending-list-card img {
    max-width: 318px;
    max-height: 365px;
    border-radius: 16px;
}

.like {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 32px;
    z-index: 99;
    border: 2px solid black;
}
.read {
    position: absolute;
    top: 60%;
    left: 80%;
    width: 32px;
    aspect-ratio: 1/1;
    z-index: 99;
    border: 2px solid black;
}

.trending-list p {
    max-width: 60%;
}

/* ---------------------------------------
-----------------manga--------------------
-----------------------------------------*/

.manga-container{
    display: flex;
    gap: 2rem;
}
.manga-container img{
    max-width: 318px;
    max-height: 365px;
    border-radius: 16px;
}
.manga-text{
    display: flex;
    flex-direction: column;
gap: 1rem;
}


/* ---------------------------------------
-----------------SIGNIN-------------------
-----------------------------------------*/
.bigimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/images/yu-gi-oh.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.joinus {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.7);
    background: (0, 0, 0, 0.4);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 24px;
    gap: 29px;
}


.joinus input {
    padding: 12px 290px 12px 20px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.joinus-button {
    font-size: 16px;
    background-color: #95FC11;
    color: #060911;
    border-radius: 99px;
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    -ms-border-radius: 99px;
    -o-border-radius: 99px;
    padding: 16px 32px;
    text-align: center;
    text-wrap: nowrap;
}


/* --------------------------------------
-----------------footer------------------
-----------------------------------------*/

footer {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
    background-color: #060911;
}


/* ---------------------------------------
-----------------media queries------------
-----------------------------------------*/

/* iphone 12/13 */
@media screen and (max-device-width: 700px) {
    h1 {
        background-color: lightblue;
    }

    .navbar-menu {
        display: block;
    
    }

    .navbar-links {
        display: none;
    }
}
